[Unit]
Description=Mountain Cams scraper
After=network-online.target
PartOf=mtcam.target

[Service]
WorkingDirectory=/opt/mtcam
ExecStart=/opt/mtcam/scraped -cfg scraped_config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
