* {
    font-family: 'Open Sans', sans-serif;
}

.controls-area {
    display: flex;
    flex-wrap: wrap;
}

.control-box {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 3fr;
    /* grid-auto-rows: auto auto; */
    margin: 0.25rem;
}

#scrapes tr {
    transition: background-color 200ms;
}

#scrapes tr:hover {
    background-color: #eeeeee;
}

#scrapes td {
    padding: 0rem 1rem;
    height: 1.1rem;
}

#scrapes .time {
    display: block;
    width: 9rem;
}

#scrapes .result {
    width: auto;
}

#scrapes .detail {
    display: block;
    overflow: hidden;
}