* {
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-template:
    [row-1] "title title title title title" auto
    [row-2] "lbmt mtsel lbstart start submit" auto
    [row-3] "lbcam camsel lbend end submit" auto
    [row-4] "scrape scrape scrape scrape scrape" auto
    / auto 3fr auto 3fr 1fr;
    grid-gap: 0.5rem;
}

.grid-item {
}

#title {
    grid-area: title;
}

#label-mountain {
    grid-area: lbmt;
}

#mountain {
    grid-area: mtsel;
}

#label-cam {
    grid-area: lbcam;
}

#cam {
    grid-area: camsel;
}

#label-start {
    grid-area: lbstart;
}

#start {
    grid-area: start;
}

#label-end {
    grid-area: lbend;
}

#end {
    grid-area: end;
}

#submit {
    grid-area: submit;
}

#scrapes {
    grid-area: scrape;
}

#scrapes tr {
    transition: background-color 200ms;
}

#scrapes tr:hover {
    background-color: #eeeeee;
}

#scrapes td {
    padding: 0rem 1rem;
    width: 9rem;
}