* {
    font-family: 'Open Sans', sans-serif;
}

.hidden{ 
    display: none !important;
}

body {
    margin: 0rem;
    background: #F0F0F0 top right url("background.png") no-repeat;
}

#title {
    /* background-color: #F0F0F0; */
    margin: 0rem;
    padding: 1rem 0.5rem;
}

.controls-area {
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}

.control-box {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 3fr;
    margin: 0.25rem;
}

.tab-area {
    display: flex;
    /* background-color: white; */
}

.tab {
    padding: 0.3rem 1rem;
    margin: 0rem 0.2rem;
    border: 1px solid grey;
    border-bottom: 1px solid white;
    color: gray;
}

.tab:hover {
    color: blue;
}

.tab.selected {
    color: black;
    background-color: white;
    font-weight: bold;
}

.display-area {
    padding-top: 1rem;
    background-color: white;
    min-height: 2000px; /*meh...*/
}



#help {
    padding: 1rem 3rem;
}



#scrapes tr {
    transition: background-color 200ms;
}

#scrapes tr:hover {
    background-color: #eeeeee;
}

#scrapes td {
    padding: 0rem 1rem;
    height: 1.1rem;
}

#scrapes .time {
    display: block;
    width: 9rem;
}

#scrapes .result {
    width: auto;
}

#scrapes .detail {
    display: block;
    overflow: hidden;
}


#info {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
    padding: 1rem;
    transition: background-color 200ms;
}

.info-box:hover {
    background-color: whitesmoke;
}

.info-box .property {
    font-variant: small-caps;
}

.info-box .property:first-child {
    font-weight: bold;
    font-variant: normal;
}

.info-box .value {
    /* font-style: italic; */
} 


#timelapse {
    padding: 1rem;
}

#timelapse-controls {
    padding-bottom: 0.5rem;
}

#timelapse-controls>* {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

#timelapse img {

}